[submodule "MatchTagAlways"]
	path = MatchTagAlways
	url = git://github.com/Valloric/MatchTagAlways.git
[submodule "ruby-matchit"]
	path = ruby-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "align"]
	path = align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
