[submodule "MatchTagAlways"]
	path = MatchTagAlways
	url = git://github.com/Valloric/MatchTagAlways.git
[submodule "ruby-matchit"]
	path = ruby-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "align"]
	path = align
	url = git://github.com/tsaleh/vim-align.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim-ruby-runner"]
	path = vim-ruby-runner
	url = git://github.com/henrik/vim-ruby-runner.git
[submodule "signature"]
	path = signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "dash.vim"]
	path = dash.vim
	url = git://github.com/rizzatti/dash.vim.git
[submodule "funcoo.vim"]
	path = funcoo.vim
	url = git://github.com/rizzatti/funcoo.vim.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "ctrlsf.vim"]
	path = ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "seoul256.vim"]
	path = seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "closetag"]
	path = closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "splitjoin.vim"]
	path = splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "gitv"]
	path = gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim-yaml"]
	path = vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
