[submodule "MatchTagAlways"]
	path = MatchTagAlways
	url = git://github.com/Valloric/MatchTagAlways.git
[submodule "surround"]
	path = surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-matchit"]
	path = vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "ruby-matchit"]
	path = ruby-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
