# Assets
# ======
snippet css
	link rel="stylesheet" href="${1:style.css}" type="text/css" media="${2:all}"

snippet script
	script src="${1:script.js}" type="text/javascript"

snippet r
	= render "${1:}"
snippet jit
	= javascript_include_tag "${1:}"
